<div id="content" class="site-content">
    <div class="page-title-area">
        <div class="ht-container">
            <div class="ht-col-md-12 ht-col-sx-12 ht-center-md">
                <div class="breadcrumb-content"><ul><li><a href="https://demo.shrimpthemes.com/1/parlo/">Home</a></li><li>My account</li></ul></div>        </div>
        </div>
    </div>

    <div id="primary" class="content-area parlopage-padding">
        <main id="main" class="site-main">

            <div class="ht-container">
                <div class="ht-row">
                    <div class="ht-col-xs-12">


                        <article id="post-50" class="post-50 page type-page status-publish hentry">
                            <h1 class="entry-title">My account</h1>

                            <div class="entry-content">
                                <div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>

                                    <div class="u-columns col2-set" id="customer_login">

                                        <div class="u-column1 col-1">


                                            <h2>Login</h2>

                                            <form class="woocommerce-form woocommerce-form-login login" method="post">


                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                                                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="">			</p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="password">Password&nbsp;<span class="required">*</span></label>
                                                    <span class="password-input"><input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password"><span class="show-password-input"></span></span>
                                                </p>


                                                <p class="form-row">
                                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                                    </label>
                                                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="3709ac79a3"><input type="hidden" name="_wp_http_referer" value="/1/parlo/my-account/">				<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">Log in</button>
                                                </p>
                                                <p class="woocommerce-LostPassword lost_password">
                                                    <a href="https://demo.shrimpthemes.com/1/parlo/my-account/lost-password/">Lost your password?</a>
                                                </p>


                                            </form>


                                        </div>

                                        <div class="u-column2 col-2">

                                            <h2>Register</h2>

                                            <form method="post" class="woocommerce-form woocommerce-form-register register">



                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="reg_email">Email address&nbsp;<span class="required">*</span></label>
                                                    <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" autocomplete="email" value="">			</p>


                                                <p>A password will be sent to your email address.</p>


                                                <div class="woocommerce-privacy-policy-text"><p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="https://demo.shrimpthemes.com/1/parlo/?page_id=3" class="woocommerce-privacy-policy-link" target="_blank">privacy policy</a>.</p>
                                                </div>
                                                <p class="woocommerce-form-row form-row">
                                                    <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="30cd99dfd9"><input type="hidden" name="_wp_http_referer" value="/1/parlo/my-account/">				<button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit" name="register" value="Register">Register</button>
                                                </p>


                                            </form>

                                        </div>

                                    </div>

                                </div>
                            </div><!-- .entry-content -->

                        </article><!-- #post-50 -->

                    </div>
                </div>
            </div>

        </main><!-- #main -->
    </div><!-- #primary -->


</div><!-- #content -->