@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<header id="masthead" class="site-header">
    <div class="main-header-wrap">
        <div class="ht-container">
            <div class="ht-row ht-middle-md">

                <div class="ht-col-md-2">
                    <div class="site-branding">
                        <a href="/" class="custom-logo-link" rel="home"><img width="116" height="28" src="~/asset/img/logo.png" class="custom-logo" alt="Parlo"></a>
                    </div><!-- .site-branding -->
                </div>

                <div class="ht-col-md-7 ht-center-xs">
                    <div class="main-menu-area">
                        <nav id="site-navigation" class="main-navigation">
                            <ul id="primary-menu" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home nocls">
                                    <a href="/" class="">Trang chủ</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children ">
                                    <a href="/" class=""><span class="parlo-menu-tag">New</span> Danh mục <i class="fa fa-angle-down"></i></a>
                                    <ul class="mega-menu-ul fourth" style="width:970px;left:;">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
                                            <a href="/danh-muc/led/" class="menu_title"><span></span>Đèn led</a>
                                            <ul class="sub-menu">

                                                <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/danh-muc/den-led-am-tran/" class=""><span>Đèn LED âm trần</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="/danh-muc/den-led-day/" class=""><span>Đèn LED dây</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="/danh-muc/den-led-duoi-nuoc/" class=""><span>Đèn LED dưới nước</span> </a></li>

                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-50 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children ">
                                            <a href="" class="menu_title"><span>Đèn Trang trí</span> </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-50 current_page_item "><a href="" class=""><span>Đèn trang trí phòng khách</span> </a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Đèn trang trí ngoài trời</span> </a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/" class="" hidden><span>Cart</span> </a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ">
                                            <a  class="menu_title"><span>Đèn Led cảm ứng</span> </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn ngủ cảm ứng</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn cầu thang cảm ứng</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn hành lang cảm ứng</span> </a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children " hidden>
                                            <a  class="menu_title"><span>Đèn năng lượng mặt trời</span> </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn trang trí năng lượng mặt trời</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn cắm đất</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn bọc đá</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn âm đất, âm sàn</span> </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="" class=""><span>Đèn âm đất, âm sàn</span> </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page nocls">
                                    <a href="" class=""><span class="parlo-menu-tag">Hot</span>Blog</a>
                                    
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page nocls"><a href="/" class="" >Giới thiệu </a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page nocls"><a href="/" class="" >Liên hệ</a></li>
                            </ul>
                        </nav><!-- #site-navigation -->
                    </div>
                </div>

                <div class="ht-col-md-3 ht-d-flex ht-end-sm">
                    <div class="header-right-content">
                        <ul>

                            <li class="mini-cart parlo-dropdown">
                                <a class="parlo-dropdown-toggle" href="@Url.Action("Index", "Cart")">
                                    <i class="sli sli-bag"></i>
                                    <span class="parlo-mini-cart">
                                        <span class="minicart-counter">0</span>
                                    </span>
                                </a><div class="minicart-page-area parlo-dropdown-menu">
                                    <h3>Shoping Cart</h3><span class="mini-cart-close parlo-dropdown-close"><i class="sli sli-close"></i></span><div class="items-list">
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="sli sli-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form id="search" action="https://demo.shrimpthemes.com/1/parlo/" method="GET">
                <div class="form-search">
                    <input type="text" name="s" class="input-text" placeholder="Search product Here">
                    <input type="hidden" name="post_type" value="product">
                    <button><i class="sli sli-magnifier"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->

    <div class="header-small-mobile">
        <div class="ht-container">
            <div class="ht-row">
                <div class="ht-col-md-6 ht-col-xs-6">
                    <div class="mobile-logo">
                        <a href="~/" class="custom-logo-link" rel="home"><img width="116" height="28" src="~/asset/img/logo.png" class="custom-logo" alt="Parlo"></a>
                    </div>
                </div>
                <div class="ht-col-md-6 ht-col-xs-6 ht-d-flex ht-end-xs">
                    <div class="header-right-wrap">
                        <div class="header-right-content">
                            <ul>
                                <li class="mini-cart parlo-dropdown">
                                    <a class="parlo-dropdown-toggle" >
                                        <i class="sli sli-bag"></i>       <span class="parlo-mini-cart">
                                            <span class="minicart-counter">2</span>
                                            <span class="minicart-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">£</span>180.00</bdi></span></span>
                                        </span>
                                    </a><div class="minicart-page-area parlo-dropdown-menu">
                                        <h3>Shoping Cart</h3><span class="mini-cart-close parlo-dropdown-close"><i class="sli sli-close"></i></span><div class="items-list">
                                            <div class="widget_shopping_cart_content">

                                                <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                    <li class="woocommerce-mini-cart-item mini_cart_item">

                                                        <div class="mini-cart-thumb">
                                                            <a href="" class="remove remove_from_cart_button" aria-label="Remove this item" data-product_id="59" data-cart_item_key="093f65e080a295f8076b1c5722a46aa2" data-product_sku="woo-sunglasses"><i class="sli sli-close"></i></a><a href=""><img width="300" height="300" src="~/asset/img/product_11-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/product_11-300x300.png 300w, https://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/product_11-150x150.png 150w, https://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/product_11-768x768.png 768w, https://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/product_11-600x600.png 600w, https://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/product_11-100x100.png 100w, https://demo.shrimpthemes.com/1/parlo/wp-content/uploads/2019/03/product_11.png 800w" sizes="(max-width: 300px) 100vw, 300px"></a>
                                                        </div>
                                                        <div class="mini-cart-content">
                                                            <h4>
                                                                <a href="">Vivamus et massa massa</a>
                                                            </h4>
                                                            <span class="quantity">2 × <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol"></span>0.00 VND</bdi></span></span>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <p class="woocommerce-mini-cart__total total"><strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol"></span>0.00 VND</bdi></span></p>


                                                <p class="woocommerce-mini-cart__buttons buttons"><a href="" class="button wc-forward">View cart</a><a href="" class="button checkout wc-forward">Checkout</a></p>


                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mobile-menu-li"><a id="mobile-menu-trigger" class="mobile-menu-icon" href="javascript:void(0)"><i class="sli sli-menu"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  offcanvas mobile menu  =======-->
    <div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
        <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
            <i class="sli sli-close"></i>
        </a>

        <div class="offcanvas-wrapper">
            <div class="offcanvas-inner-content">
                <div class="offcanvas-mobile-search-area">
                    <form action="~/">
                        <input type="text" name="s" placeholder="Search..." value="">
                        <input type="hidden" name="post_type" value="product">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <nav class="offcanvas-navigation">
                    <ul id="primary-menu" class="menu">
                        <li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-434">
                            <span class="menu-expand"><i></i></span><a href="~/">Home</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-504" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-504"><a href="">Home Two (Pro)</a></li>
                                <li id="menu-item-505" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-505"><a href="">Home Three (Pro)</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-672" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-672">
                            <span class="menu-expand"><i></i></span><a href="">Shop</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-257">
                                    <span class="menu-expand"><i></i></span><a href="">Shop</a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="menu-item-711" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-711"><a href="">Shop Right Sidebar</a></li>
                                        <li id="menu-item-713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-713"><a href="">Shop Left Sidebar</a></li>
                                        <li id="menu-item-712" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-712"><a href="">Shop Full Width</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-50 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-245">
                                    <span class="menu-expand"><i></i></span><a href="" aria-current="page">My account</a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-50 current_page_item menu-item-248"><a href="" aria-current="page">My account</a></li>
                                        <li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="">Checkout</a></li>
                                        <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Cart</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-714" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-714">
                                    <span class="menu-expand"><i></i></span><a >Product Details Page</a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="menu-item-715" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-715"><a href="">Product Left Sidebar</a></li>
                                        <li id="menu-item-716" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-716"><a href="">Product Right Sidebar</a></li>
                                        <li id="menu-item-717" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-717"><a href="">Product Full Width</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-718" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-718">
                                    <span class="menu-expand"><i></i></span><a >Pages</a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247"><a href="">Cart</a></li>
                                        <li id="menu-item-719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-719"><a href="">Wishlist</a></li>
                                        <li id="menu-item-720" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-720"><a href="">Checkout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-673">
                            <span class="menu-expand"><i></i></span><a href="">Blog</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-724" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-724"><a href="">Blog Full Width</a></li>
                                <li id="menu-item-721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-721"><a href="">Blog Right Sidebar</a></li>
                                <li id="menu-item-723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-723"><a href="">Blog Left Sidebar</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670"><a href="">About Us</a></li>
                        <li id="menu-item-671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671"><a href="">Contact us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--=======  End of offcanvas mobile menu  =======-->

</header><!-- #masthead -->